<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewRecipe()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item
            *ngFor="let recipe of recipes; let i = index"
            (click)="onLoadRecipe()">
      <h2>{{recipe.title}}</h2>
      <ion-note>
        {{recipe.difficulty}}
      </ion-note>
    </button>
  </ion-list>
</ion-content>
