<ion-header>

  <ion-navbar>
    <ion-title>{{mode}} Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input [formControlName]="'title'" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [formControlName]="'description'"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select [formControlName]="'difficulty'">
          <ion-option *ngFor="let option of selectOptions"
                      [value]="option">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <button ion-button clear block
            (click)="onManageIngredients()"
            type="button">Manage Ingredients</button>

    <ion-list [formArrayName]="'ingredients'">
      <ion-item *ngFor="let igControl of recipeForm.get('ingredients').controls; let i = index">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [formControlName]="i"></ion-input>
      </ion-item>
    </ion-list>

    <button [disabled]="!recipeForm.valid"
            ion-button block type="submit">{{mode}} Recipe</button>

  </form>

</ion-content>
