<ion-header>

  <ion-navbar>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onAddItem(f)">

    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input ngModel
                   required
                   type="text"
                   name="ingridientName" placeholder="Milk"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Amount</ion-label>
        <ion-input ngModel
                   required
                   type="number"
                   name="amount" placeholder="2"></ion-input>
      </ion-item>
    </ion-list>

    <button [disabled]="!f.valid"
            ion-button block type="submit">Add Item
    </button>

  </form>

  <ion-list>
    <ion-item
      *ngFor="let item of listItems; let i = index"
      (click)="onRemoveItem(i)">
      <h2>{{item.name}} ({{item.amount}})</h2>
    </ion-item>
  </ion-list>


</ion-content>
